@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face{
	font-family:'Arita';
    font-weight:400;
	src:url('../font/arita-Medium.eot');
	src:url('../font/arita-Medium.woff') format('woff'),
	    url('../font/arita-Medium.ttf') format('truetype');
}
@font-face{
	font-family:'Arita';
    font-weight:300;
	src:url('../font/arita-Light.eot');
	src:url('../font/arita-Light.woff') format('woff'),
	    url('../font/arita-Light.ttf') format('truetype');
}
@font-face{
	font-family:'Arita';
    font-weight:200;
	src:url('../font/arita-Thin.eot');
	src:url('../font/arita-Thin.woff') format('woff'),
	    url('../font/arita-Thin.ttf') format('truetype');
}
@font-face{
	font-family:'Arita';
    font-weight:500;
	src:url('../font/arita-SemiBold.eot');
	src:url('../font/arita-SemiBold.woff') format('woff'),
	    url('../font/arita-SemiBold.ttf') format('truetype');
}
@font-face{
	font-family:'Arita';
    font-weight:600;
	src:url('../font/arita-Bold.eot');
	src:url('../font/arita-Bold.woff') format('woff'),
	    url('../font/arita-Bold.ttf') format('truetype');
}
