//sidenav
#sidenav {
    @include respond($tablet) {
        display: none;
    }

    .inner {
        position: fixed;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 104;
        opacity: 0.8;
        padding: 10px;
        width: auto;
        box-sizing: border-box;

        @include respond($tablet) {
            top: 50px;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
        }

        ul {
            li {
                text-align: left;
                position: relative;
                width: 100%;
                height: 30px;

                @include respond($tablet) {
                    width: 20%;
                    float: left;
                }

                a {
                    @include font($color:$lightColor, $w:normal, $s:12px, $l:30px, $f:$default, $a:left);
                    display: inline-block;
                    transition: all ease 0.5s;
                    height: 18px;
                    padding-left: 20px;
                    cursor: pointer;
                    transition: all ease 0.5s;

                    @include respond($tablet) {
                        font-size: 16px;
                        text-align: center;
                        width: 100%;
                    }

                    &:hover {
                        color: $mainColor;
                    }
                }

                span {
                    display: inline-block;
                    background: $pointColor;
                    width: 5px;
                    height: 1px;
                    transition: all ease 0.5s;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: rgba(255, 255, 255, 0);
                    z-index: 99;
                    opacity: 0.5;

                    @include respond($tablet) {
                        width: 0px;
                        height: 0px;
                        text-align: center;
                    }
                }

                &.on {
                    a {
                        opacity: 0;
                    }

                    span {
                        background: $pointColor;
                        width: 100%;
                        height: 19px;
                        opacity: 0.8;
                        padding: 2px 5px;
                        color: white;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}
